ul#album {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

ul#album li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100%);
    margin: 10px;
    border-radius: 5px;
    opacity: 0.9;
    padding: 1rem;
    box-sizing: border-box;
}

ul#album li:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

ul#album li a:link,
ul#album li a:visited,
ul#album li a:hover {
    display: block;
    border-bottom: none;
    padding: 10px;

}

ul#album li a img {
    width: 100%;
    margin-bottom: 1.5rem;
}


@media only screen and (max-width: 600px) {

    ul#album li {
        flex-basis: auto;
    }

}



@media only screen and (min-width: 600px) {

    ul#album li {
        flex-basis: calc(100%);
    }
}



@media only screen and (min-width: 768px) {
    ul#album li {
        flex-basis: calc(100%);
    }

}

@media only screen and (min-width: 992px) {

    ul#album li {
        flex-basis: calc(100%);
    }
}


@media only screen and (min-width: 1200px) {}
