.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 80px;
    background-image: linear-gradient(rgba(255,255,255, 1) 40%, rgba(255,255,255,0) 100% );
    width: 100%;
    

}

.menuwork{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    text-decoration: none; 
    color: black;
    text-align: left;
    
    
}

.menuabout{
    text-decoration: none; 
    color: black;
    text-align: right;
    
}

.menutext{
    font-size: 92px;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration: none;
    
}



.gallery{
border-bottom-left-radius: 1px solid #ccc;
    
    
}


.gallery:hover {
  border-bottom-left-radius: 1px solid #777;
    
    
    
}

div.gallery img {
  width: 100%;
  height: auto;
    
    
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 24px;
  float: left;
  width: 33.33333%;

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 33.33333%;

  }
}


@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}



